#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/
#    instance-info-replication-interval-seconds: 5
#    initial-instance-info-replication-interval-seconds: 6
global-prop: my-global-prop-val-01
security:
  basic:
    enabled: false
endpoints:
  sensitive: false
queue:
  billing:
    name: billing-queue